<div fxLayout="row"
     *ngIf="comments.length > 1"
     [ngClass]="{'search-container' : !scroll, 'search-container-fixed' : scroll}"
     (window:scroll)="checkScroll()"
     fxLayoutAlign="center">
  <mat-label *ngIf="deviceType === 'desktop'"
             fxLayoutAlign="center center">
    <mat-icon class="search-icon">search</mat-icon>
  </mat-label>
  <input (focus)="eventService.makeFocusOnInputTrue()"
         (blur)="eventService.makeFocusOnInputFalse()"
         #searchBox
         id="searchBox"
         [ngClass]="{'desktop-input': deviceType === 'desktop',
   'mobile-input': deviceType === 'mobile' && !search, 'mobile-input-2': deviceType === 'mobile' && search }"
         (input)="searchComments()"
         [(ngModel)]="searchInput"
         [placeholder]="searchPlaceholder"
         aria-labelledby="search-box-input-description"/>
  <button id="search_close-button"
          mat-icon-button
          class="searchBarButton close"
          *ngIf="searchInput !== '' || search"
          (click)="hideCommentsList=false; searchInput = ''; search = false; searchPlaceholder = '';">
    <mat-icon>close</mat-icon>
  </button>

  <div class="button-bar"
       fxLayoutAlign="center center">
    <div *ngIf="comments && commentsFilteredByTime.length > 0">
      <h3 class="counter"
          *ngIf="comments && !hideCommentsList">{{commentsFilteredByTime  .length}}</h3>
      <h3 class="counter-filtered"
          *ngIf="filteredComments && hideCommentsList">{{filteredComments.length}}</h3>
    </div>

    <button mat-icon-button
            class="searchBarButton"
            (click)="activateSearch()"
            *ngIf="deviceType === 'mobile' && !search && comments && comments.length > 0 && !search">
      <mat-icon class="searchBarIcon">search</mat-icon>
    </button>

    <button id="sort-button"
            mat-icon-button
            class="searchBarButton"
            *ngIf="!searchBox.value && comments && comments.length > 0 && !search"
            [matMenuTriggerFor]="sortMenu"
            matTooltip="{{ 'comment-list.sort-comments' | translate }}">
      <mat-icon class="searchBarIcon">swap_vert</mat-icon>
    </button>

    <button id="time-button"
            mat-icon-button
            class="searchBarButton"
            aria-labelledby="time_settings"
            *ngIf="!searchBox.value && comments && comments.length > 0 && !search"
            [matMenuTriggerFor]="timeMenu"
            [ngClass]="{'active-filter': period !== 'time-all'}"
            matTooltip="{{ 'comment-list.select-time' | translate }}">
      <mat-icon class="searchBarIcon">history</mat-icon>
    </button>

    <button mat-icon-button
            class="searchBarButton"
            (click)="switchToCommentList()"
            *ngIf="!searchBox.value && comments && comments.length > 0 && !search"
            matTooltip="{{ 'comment-list.switch-to-comment-list' | translate }}">
      <mat-icon class="searchBarIcon">question_answer</mat-icon>
    </button>
  </div>

  <mat-menu #sortMenu="matMenu"
            xPosition="before">
    <button mat-menu-item
            matTooltip="{{ 'comment-list.time' | translate }}"
            (click)="sortComments(time)"
            aria-labelledby="access_time">
      <mat-icon [ngClass]="{time: 'unread-icon'}[currentSort]">update</mat-icon>
      <span>{{ 'comment-list.sort-list-time' | translate }}</span>
    </button>

    <button mat-menu-item
            matTooltip="{{ 'comment-list.vote-asc' | translate }}"
            (click)="sortComments(votedesc)"
            aria-labelledby="keyboard_arrow_up">
      <mat-icon [ngClass]="{votedesc: 'up'}[currentSort]">keyboard_arrow_up</mat-icon>
      <span>{{ 'comment-list.sort-vote-asc' | translate }}</span>
    </button>

    <button mat-menu-item
            matTooltip="{{ 'comment-list.vote-desc' | translate }}"
            (click)="sortComments(voteasc)"
            aria-labelledby="keyboard_arrow_down">
      <mat-icon [ngClass]="{voteasc: 'down'}[currentSort]">keyboard_arrow_down</mat-icon>
      <span>{{ 'comment-list.sort-vote-desc' | translate }}</span>
    </button>
  </mat-menu>

  <mat-menu #timeMenu="matMenu" xPosition="before">
    <div *ngFor="let periodItem of periodsList">
      <button mat-menu-item (click)="setTimePeriod(periodItem)" class="period"
              [ngClass]="{'selected': periodItem === period}"
              aria-labelledby="{{periodItem}}">
        <span>{{ ('comment-list.select-' + periodItem) | translate }}</span>
      </button>
    </div>
  </mat-menu>

</div>

<button mat-icon-button
        class="scrollTop"
        [ngClass]="{'visible': isScrollButtonVisible()}"
        (click)="AppComponent.scrollTop()"
        tabIndex="-1">
  <mat-icon>arrow_upward</mat-icon>
</button>

<div *ngIf="!isLoading">
  <app-comment *ngFor="let current of hideCommentsList ? filteredComments : commentsFilteredByTime"
               [comment]="current"
               [userRole]="user.role"
               [parseVote]="getVote(current)"
               [moderator]="true"
               (clickedUserNumber)="clickedUserNumber($event)">
  </app-comment>
</div>

<div *ngIf="comments && (commentsFilteredByTime.length < 1 && period === 'time-all' || comments.length === 0) && !isLoading"
     fxLayout="row"
     fxLayoutAlign="center center"
     class="no-comments">
  <!-- no question present-->
  <p class="oldtypo-p">{{ 'comment-page.no-comments' | translate }}</p>
</div>

<div *ngIf="(filteredComments && filteredComments.length === 0 && hideCommentsList)
            || (comments && commentsFilteredByTime.length === 0 && period !== 'time-all') && !isLoading && comments.length > 0"
     fxLayout="row"
     fxLayoutAlign="center center"
     class="no-comments">
  <p class="oldtypo-p">{{ (search ? 'comment-page.no-comments-with-search' : 'comment-page.no-comments-with-filter') | translate }}</p>
</div>

<div class="visually-hidden">
  <div id="search-box-input-description">
    {{ 'comment-page.search-box-input-description' | translate }}
  </div>
  <div id="select-time">{{ 'comment-list.a11y-select-time' | translate }}</div>
  <div id="select-time-1h">{{ 'comment-list.a11y-select-time-1h' | translate }}</div>
  <div id="select-time-3h">{{ 'comment-list.a11y-select-time-3h' | translate }}</div>
  <div id="select-time-1d">{{ 'comment-list.a11y-select-time-1d' | translate }}</div>
  <div id="select-time-1w">{{ 'comment-list.a11y-select-time-1w' | translate }}</div>
  <div id="select-time-all">{{ 'comment-list.a11y-select-time-all' | translate }}</div>
</div>
